@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input-style {
  @apply w-full bg-slate-50 border-2 border-slate-50 p-4 rounded-2xl 
         focus:bg-white focus:border-slate-900 outline-none transition-all 
         font-bold text-sm;
}

.input-field {
  @apply w-full bg-slate-50 border-2 border-slate-50 p-4 rounded-2xl 
         focus:bg-white focus:border-slate-900 outline-none transition-all font-bold text-sm;
}